*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper{
    width: 80%;
    height: 200vh;
    margin: auto;

}

.nav-bar{
    width: 100%;
    height: 10vh;
    background-color: rgb(49 97 224);
}

nav > img{
    float: left;
    width: 30%;
    max-height: 5vh;
    margin-top: 1.2rem;
}


nav li{
    list-style-type: none;
    float: left;
    margin-top: 1.8rem;
    margin-right: 3rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

nav li > a{
    color: hsl(223deg 75% 95%);
    font-size: 16px;
    font-weight: 900;
}

.btn{
    float: left;
    padding: 0.5rem 0.1rem;
    width: 5%;
    text-align: center;
    background-color: white;
    font-size: 16px;
    border-radius: 5rem;
    margin-left: 15rem;
    margin-top: 1.4rem;
}



.jumbo-section{
    position: relative;
    text-align: center;
    color: white;
    background-image: url("./img/jumbo.png");
    background-size: cover;
    height: 65vh;
}

.jumbo-text{
    padding: 5rem 18rem;
    
}

.jumbo-text p{
    font-size: 20px;
    line-height: 1.6;
    margin-top: 3rem;
}

.jumbo-text h1{
    font-size: 40px;
}

.header-btns{
    margin-top: 3rem;
}

.header-btns > a{
    background-color: white;
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    font-weight: 500;

}

.header-btns > a:last-child{
    background-color: black;
    color: white;
}

.header-btns > a:hover:last-child{
    color: darkviolet;
    background-color: white;
}

.talk-space{
    height: 90vh;
    width: 80%;
    margin: auto;
    background-image: url("");
}

.talk-space > img{
    width: 60%;
    padding-left: 1rem;
    padding-top: 7rem;
    padding-right: 2rem;
    
}



 .talk-space > .img-text-section{
    display: inline-block;
    width: 30%;
    font-size: 26px;
    padding-right: 2rem;
}

.img-text-section > p{
    font-size: 16px;
    line-height: 1.5rem;
    padding-top: 2rem;
    font-weight: 600;
    color: rgb(64 67 70);
}




